html {
    font-size : 10px;
    font-family: 'Exo 2', Arial, sans-serif;
    color: #190104;
}


/* header */

.sticky-top {
    position: sticky;
    top: 1rem;
    padding: 1.5rem 1.4rem 1.5rem 1.4rem;
    border-radius: 1.5rem;
    background-color: #FFF6F0;
}


/* navi */

.navi{
    display: flex;
    justify-content: center;
    gap: 5rem;
}


/* section */

.kari199603
{
    background-color: #FFF6F0;
}

.skills {
    display: flex;
    flex-direction: column;
    gap: 2rem;   
}

/* headers */

h1 {
    font-size: 6.0rem;
    width: 66%;

}
h2 {
    font-size: 5.2rem;
}


/* div */

div {
    font-size: 3.2rem;
}


/* buttons */

.navi-button {
    background-color: transparent;
    color: #190104;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
    border: none;
    padding: 1rem 0.15rem;
    text-decoration-line: none;
}

.navi-button-lan {
    padding: 0.15rem 1rem;
    border-left: 0.3rem solid;
    border-right: none
}

.navi-button-lan.active {
    color: #927579;
    border-right: 0.3rem solid;
    border-left: none
}

.contact-btn {
    font-size: 4.0rem;
    border-color: #190104;
    border-width: 6px;
    border-radius: 35px 35px 35px 0px;
    border-style: solid;
    padding: 10px 20px;
}


/* text */

.bold{
    font-weight: bold;
}

.text-0xl{
    font-size: 1.8rem;
}


/* block-text */

.block {
    border-radius: 3rem;
    padding: 2.5rem 3rem 2.5rem 3rem;
}

.block.ai {
    background-color: #cee1fe;
}

.block.languages {
    background-color: #ecf2fc;
}

.block.testing{
    background-color: #ffefe6;
}

.block.basic_coding_knowledge {
    background-color: #242f3d;
    color: #ffffff;
}

.block.soft_skills {
    background-color: #ffeec1;
}

.block-title {
    margin-bottom: 1rem;
}

.block-description + .block-description {
    margin-top: 0.8rem;
}

.block-note + .block-description {
    margin-top: 1rem;
}

.block-description + .block-note {
    margin-top: 0.6rem;
}

/* other elements */

p {
    font-size: 2.2rem;
}