html {
    font-size : 10px;
    color: #190104;
}

/* header */

.sticky-top {
    position: sticky;
    top: 1rem;
    background-color: #FFF6F0;
}


/* navi */

.navi{
    display: flex;
    justify-content: center;
    margin: 1rem;
    border-radius: 1.5rem;
}

.in-navi.center{
    margin: auto;
}


/* section */

.kari199603
{
    background-color: #FFF6F0;
}

.skills {
    display: flex;
    flex-direction: column;
    gap: 2rem;   
}

/* headers */

h1 {
    font-size: 6.0rem;
    width: 66%;
}
h2 {
    font-size: 5.2rem;
}

/* font-variant
    .font-variant {
    font-variant: small-caps;
}
*/

/* div */

div {
    font-size: 3.2rem;
}


/* buttons */

.navi-button {
    color: #190104;
    text-align: center;
    font-weight: bold;
    font-size: 2.2rem;
    padding: 1rem 0.15rem;
    text-decoration-line: none;
}

.navi-button-lan {
    padding: 0.15rem 1rem;
    border-left: 0.3rem solid;
}

.navi-button-lan.active {
    color: #927579;
    border-right: 0.3rem solid;
    border-left: none
}

.contact-btn {
    font-size: 4.0rem;
    border: 6px solid #190104;
    border-radius: 35px 35px 35px 0px;
    padding: 10px 20px;
}


/* text */

.bold{
    font-weight: bold;
}

.text-0xl{
    font-size: 1.8rem;
}


/* block-text */

.block {
    border-radius: 3rem;
    padding: 2.5rem 3rem 2.5rem 3rem;
}

.block.ai {
    background-color: #cee1fe;
}

.block.languages {
    background-color: #ecf2fc;
}

.block.testing{
    background-color: #ffefe6;
}

.block.basic-coding-knowledge {
    background-color: #242f3d;
    color: #ffffff;
}

.block.soft_skills {
    background-color: #ffeec1;
}

.block-title {
    margin-bottom: 1rem;
}

.block-description + .block-description {
    margin-top: 0.8rem;
}

.block-note + .block-description {
    margin-top: 1rem;
}

.block-description + .block-note {
    margin-top: 0.6rem;
}

/* other elements */

p {
    font-size: 2.2rem;
}

.png-down{
    margin-bottom: 2.5rem;
}